.view-ca-video-list tr, .view-ca-video-list tr.even  {
  background: none repeat scroll 0 0 transparent;
}

.view-ca-video-list tr td, .view-ca-video-list tr th {
  text-align: center;
}

.ca-video-list-template-3 .views-field-field-ca-video-v-video {float: left; padding: 0 15px 5px 0;}
.ca-video-list-template-3 .views-field-nothing {border-bottom: 1px solid #000; clear: both; margin-bottom: 7px; padding-top: 5px;}

.ca-video-node .views-field-field-ca-video-v-video {
  float: left;
  padding: 5px 10px;
}

/* Flex List */
.ca-video-flex .view-content {
  display: flex;
  flex-flow: row wrap;
}

.ca-video-flex-template-1 .views-row {
  text-align: center;
  flex: 0 1 33%;
}

.ca-video-flex-template-2 .views-row {
  text-align: center;
  flex: 0 1 50%;
}