.view-ca-video-list tr, .view-ca-video-list tr.even  {
  background: none repeat scroll 0 0 transparent;
}

.view-ca-video-list tr td {
  width: 25%
}

.view-ca-video-list tr td, .view-ca-video-list tr th {
  text-align: center;
}

.view-display-id-ca_video_gallery_node_view_one .views-field-field-ca-video-v-video {
  float: left;
  padding: 5px 10px;
}
